-i https://pypi.org/simple/
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
coverage==5.0
dnspython==2.1.0
email-validator==1.1.2
fastapi==0.45.0
h11==0.8.1
httptools==0.0.13
idna==2.8
importlib-metadata==4.0.0 ; python_version < '3.8'
jinja2==2.10.3
markupsafe==1.1.1
more-itertools==8.7.0
packaging==20.9
pluggy==0.13.1
prometheus-client==0.7.1
py==1.10.0
pydantic[email]==1.2
pyparsing==2.4.7
pytest-cov==2.8.1
pytest==5.3.2
python-multipart==0.0.5
requests==2.22.0
six==1.15.0
starlette-prometheus==0.5.0
starlette==0.12.9
typing-extensions==3.7.4.3 ; python_version < '3.8'
urllib3==1.25.11
uvicorn==0.10.8
uvloop==0.15.2
wcwidth==0.2.5
websockets==8.1
zipp==3.4.1
